<div class="img">
  <img src="<%= @flat.picture_url %>" alt="flat_banner">
</div>
<div class="container mt-5 on-top">
  <div class="card mt-5">
    <div class="card-body">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h4>Détails</h4>
      <p>Prix : <%= @flat.price_per_night %>$
      <br>Capacité : <%= @flat.number_of_guest %> personnes</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h4>Description</h4>
      <p><%= @flat.description %></p>
    </div>
  </div>
</div>
